<section class="flex items-center justify-center h-screen">
  <div class="card lg:card-side bg-base-100 shadow-xl w-450 mx-20">
    <figure>
      <img
        src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title mb-10">
        Login to
        <section class="font-bold text-lg text-green-300">sehatMu</section>
        Account
      </h2>
      <form action="">
        <div class="mb-4">
          <label for="email" class="block text-md font-medium text-gray-600"
            >Email</label
          >
          <input
            type="text"
            placeholder="sehatmu@mail.com"
            class="input input-bordered input-info w-full max-w-xs"
          />
        </div>
      </form>
      <div class="mt-6">
        <button type="button" class="btn btn-secondary w-full">
          Sign in with M-ID
        </button>
      </div>
    </div>
  </div>
</section>
